[submodule "libs/tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library.git
[submodule "libs/sst-basic-blocks"]
	path = libs/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
